<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mxp.erp.dao.UserDao">

	<resultMap id="BaseResultMap"
		type="com.mxp.erp.entity.UserEntity">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="userName" jdbcType="VARCHAR"
			property="userName" />
		<result column="passWord" jdbcType="VARCHAR"
			property="passWord" />
		<result column="realName" jdbcType="VARCHAR"
			property="realName" />
	</resultMap>

	<select id="getById" resultType="com.mxp.erp.entity.UserEntity">
		select * from sys_user where id = #{id}
	</select>

	<select id="getUserByUserName" resultType="com.mxp.erp.entity.UserEntity">
		select * from sys_user where user_name = #{name}
	</select>
	
	<select id="getUserInfoByUserId" resultType="com.mxp.erp.entity.UserEntity">
		
	</select>
	
	<insert id="register" parameterType="com.mxp.erp.entity.UserEntity">
		insert into sys_user values(#{id},#{creationTime},#{description},#{lastModifyTime},#{userName},#{password},#{telephone},#{email},#{loginCount},#{loginStatus},#{age})
	</insert>
	
	<update id="updatePassword" parameterType="com.mxp.erp.entity.UserEntity">
		update sys_user set PASSWORD = #{password} where user_name = #{userName}
	</update>
	
	<update id="updateErrorPasswordTimes" parameterType="com.mxp.erp.entity.UserEntity">
		update sys_user set LOGIN_ERROR_TIMES = #{loingErrorTimes} where user_name = #{userName}
	</update>
	
	<select id="getAllUser" resultType="com.mxp.erp.entity.UserEntity">
		select * from sys_user
	</select>
	
	<select id="getLoginErrorTimesUser" resultType="com.mxp.erp.entity.UserEntity">
		select * from sys_user u,sys_env e where u.LOGIN_ERROR_TIMES >= e.LOGIN_ERROR_TIMES_LIMIT
	</select>
	
	<select id="getLevelOfficeUser" resultType="com.mxp.erp.entity.UserEntity">
		select * from sys_user where state = 2
	</select>
	
	<delete id="deleteUser" parameterType="com.mxp.erp.entity.UserEntity">
		delete from sys_user where user_name = #{userName}
	</delete>

	<update id="update"
		parameterType="com.mxp.erp.entity.UserEntity">
		update sys_user
		<trim prefix="set" suffixOverrides=",">
			<if test="userName!=null">user_name=#{userName},</if>
			<if test="password!=null">password=#{password},</if>
			<if test="telephone!=null">telephone=#{telephone},</if>
			<if test="email!=null">email=#{email},</if>
			<if test="loginCount!=null">login_count=#{loginCount},</if>
			<if test="loginStatus!=null">login_status=#{loginStatus},</if>
			<if test="age!=null">age=#{age},</if>
			<if test="lastModifyTime!=null">last_modify_time=#{lastModifyTime},</if>
		</trim>
		WHERE id=#{id}
	</update>
</mapper>